@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading_spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #0069ed; 
    border-top: 10px solid #ffffff;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .loading_container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }