.dashboard_title {
    text-align: center;
}

.card_custom_style {
    display: flex;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem 0;
}