.dashboard_title {
    text-align: center;
    font-size: 2rem;
}

.input_custom_style {
    margin: 2rem 0;
    padding: 0 1rem;
}

.card_custom_style {
    display: flex;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem 0;
}

.button_custom_style {
    display: inline-block;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.button_custom_style:hover {
    background: #0053ba;
}

.button_custom_style:focus {
    outline-offset: -4px;
}

.button_custom_style:active {
    transform: scale(0.99);
}