.dashboard_title {
    text-align: center;
    font-size: 2rem;
}

.input_custom_style {
    margin: 2rem 0;
    padding: 0 1rem;
}

.card_custom_style {
    display: flex;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem 0;
}

.search_wrapper {
    display: flex;
    align-items: center;
}

.back_button {
    margin: 2rem 0 0 2rem;
}

.info {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.custom_info {
    margin-top: 1rem;
}

.github_button {
    width: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.back_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back_button_content {
    margin-left: 5px;
}